/* GENERAL RULES */

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.column{
  /* Debug */
  background-color: #FC6C26;
  min-height: 150px;
  margin: 20px 0;
}

/* .vertical-align{
vertical-align: middle;
display: inline-block;
} */

body{
  font-family: 'Roboto', sans-serif;
}

.align-center{
  text-align: center;
}

.box{
  padding: 0 10%;
}

.box-no-side{
  padding: 0 10%;
}

section{
  padding: 20px 0;
}




/* MEDIA QUERY */
@media all and (max-width: 991px) {
  .box-no-side{
    padding: 0 1%;
  }
}
@media all and (max-width: 767px) {
  .box-no-side{
    padding: 0;
  }
}




/* TEXT colors */
.blue-text{
 color: #006AFF;
}

.blue2-text{
 color:#031c4e;
}

.blue3-text{ /* table */
 color:#B4C0E4;
}

.black-text{
 color: black;
}

.grey-text{
 color: grey;
}

.white-text{
  color: white;
}


.paragrafo{
 font-size: 16px;
}




/* LINKS */
.blue-link{
  padding-top: 20px;
}

/* background colors */
section.background-white{
  background-color: #ffffff;
  min-height: 50px;
}

section.background-grey{
  background-color: #F3F5F9;
  min-height: 50px;
}

section.background-blue{
  background-color: #004AFF;
  min-height: 50px;
  color: white;
}



/* HEADER */
#signup{
    border: 1px solid #6fabff;
    color: #6fabff;
    margin-top: 10px;
  }
}

header{
  /* Debug */
  /* background-color: red; */
  min-height: 200px;
}

header>.navbar-default{
  background-color: #ffffff;
  border-radius: 0;
  border: none;
}

header>nav a>img{
  max-height: 100%;
}

header>nav a>i{
  padding-left: 5px;
}




/* JUMBOTRON */
.jumbo-acquarium{
  /* Debug */
  /* background-color: blue; */
  min-height: 550px;
  background-image: url("../img/jumbo.svg");
  background-position: right 0 bottom 0;
  background-size: cover;
  padding: 60px 0;
  margin-top: 50px;
}

.form-title-blue{
  color: #006AFF;
}

.form-title-dark{
  color: #031C4E;
}

.jumbo-acquarium .jumbo-title{
  font-size: calc(50px + 0.5vw);
}

.jumbo-sub{
  font-size: 20px;
}

/* background form */
.google{
  background-color: white;
  padding: 15px 20px 30px;
  border-radius: 5px;
  overflow: hidden;
}

.google h3, .jumbo-acquarium h2{
  font-weight: 700;
}

.google form input{
  width: 100%;
  min-height: 35px;
  padding: 5px;
  border-radius: 5px;
  margin: 0 0 15px;
  border: 1px solid #cecece;
  color: #000000;
}

/* button background form */
.google .btn-primary.active,
.google .btn-primary:active,
.google .open>.dropdown-toggle.btn-primary{
  width: 100%;
  margin: 0 0 5px;
  font-size: 15px;
  font-weight: 600;
  border-color:  dodgerblue;
  background-color: dodgerblue;
  overflow: hidden;
}

/* button background form HOVER */
.google  .btn-primary.active:hover,
.google  .btn-primary.active:focus,
.google  .btn-primary:active:focus,
.google  .btn-primary:active:hover{
  background-color: blue;
  border-color: blue;
}

/* google button */
.google #google {
  background-color: white;
  border: 1px solid #cecece;
  color: grey;
  position: relative;
}

/* google button */
.google p{
  margin-top: 10px;
}

/* link terms */
.termsncondition{
  text-decoration: none;
  color: dodgerblue;
}

.google .termsncondition{
  text-decoration: underline;
}

.termsncondition i{
  vertical-align: middle;
}

#google img{
  float: left;
  height: 20px;
}

/* PARTNERS */
.partners-title{
  font-size: 16px;
  color: #76819C;
}

.partners-img{
  padding: 20px 10px;
}

.partners{
  /* Debug */
  min-height: 200px;
}


/* DEPLOY AND SCALE */
.deploy ul{
  list-style-type: none;
  border-left: 2px solid #cecece;
  font-size: 16px;
  margin-bottom: 50px;
}

.deploy li{
  text-align: left;
  padding: 10px 10px;
}

.deploy li a:hover,
.deploy li a:focus{
  color: darkgrey;
  text-decoration: none;
}

.slide-box{
  width: 45%;
}

.media-slider{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.deploy .card{
  text-align: left;
}

/* SLIDE */
.slide{
  position: relative;
}

.slide img{
  max-width: 100%;
  margin-bottom: 10px;
}

.slidep{
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
}


/* img slide */
@media all and (max-width: 767px){
  .carousel-control{
    display: none;
  }

#carousel-example-generic, #carousel-example-generic2{
  padding-bottom: 70px;
}


section.grey li{
  padding-right: 0;
  }

/* side arrows */
  .carousel-indicators li{
    width: 10px !important;
    height: 10px !important;
    margin: 1px !important;
    border-radius: 10px !important;
  }
}

.carousel-control{
  width: 0;
  color: #031c4e;
  position: absolute;
  bottom: 20%;
}

.carousel-control.left{
  position: absolute;
  left: -5%;
}

.carousel-control.right{
  position: absolute;
  left: 105%;
}

.carousel-indicators{
  position: absolute;
}

.carousel-indicators .active{
  background-color: #006aff;
}

.carousel-indicators li{
  border: 1px solid #006aff;
  background-color: #fff;
}

.carousel-example-generic h4{
  padding-top: 20px;
}

/* GRADIENT TABLE */
.region, .prefooter{
  background: linear-gradient(to bottom, #0048c5 50%, #001e9a 100%);
}

/* region */
.region table{
  width: 100%;
  margin: 10px 0 30px;
}

/* rows */
.region tr {
  border-bottom: 1px solid white;
}

.region tr:last-child {
  border-bottom-width: 0;
}

/* column */
.region td{
  padding: 10px 15px;
  text-align: left;
}

.region tr td:last-child{
  text-align: right;
}

.region table a{
  color: #00d5d1; /* water green */
}


/*  FOOTER */
footer{
  background-color: #031C4E;
  min-height: 400px;
}

/* BONUS: ADD CLIENT CHAT FIXED (BABY SHARK)  */
